.imgs{
    border: 10px solid #4A5E54;
    padding: 0%;
    border-radius: 5%;
    
}
.lead{
    font-weight: bold;
}
h2{
    font-weight:bold ;
}
.inner{
    border: 5px solid #4A5E54;
    border-radius: 5%;
    margin: 100px 25px;
    background-color: #B1E3CA;
    
}
body{
    background-color:#2D5E46;
}
h1{
    color: #4A5E54;
}
.my-5{
    padding: 0;
    
    border: 0;
}
.nav-link{
    color: black;
}

